/* Stilos Formulario */

body{
	background-color: gray;
}

.PreCabecera{
  font-size: 13px;
  text-align: center;
}

.tituloCabecera{
  font-size: 20px;
  color: $magenta;
  text-align: center;
}

.parrafoCabecera{
	font-size: 13px;
	text-align: center;
	margin: 0 auto;
}

.modal-content{
	border-radius: 0;
}

.modal-header{
	border-radius: 0;
}

.tituloModal{
	color: $magenta;
	font-size: 13px;
}

.titulo-form{
	width: 100%;
	font-size: 16px;

	span{
		font-size: 14px;
		color: gray;

	}
}

.link-edit{
	text-decoration: none;
	color: $magenta;
}

.boton-badge{
	background-color: $grisf2;
	color: black;
	font-size: 13px;
	padding: 6px 10px;
	margin-bottom: 6px;
	margin-right: 8px;
}

.formulario{
	
	.row{
		margin-bottom: 16px;
	}
}

/* -------- MODAL ------------ */

.modal{
	border-radius: 0;
}

.modal-header{
	background-color: $magenta;
	color: white;
	padding: 10px 12px;

	.modal-title{
		font-size: 14px!important;
	}
}

.boton_modal{

}

.btn-outline-danger:hover{
	background-color: $magenta!important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e; /*set the color you want here*/
}

.modal-footer{
	border:none;
}

.btn-outline-danger{
	border:1px solid $magenta;
	color:$magenta;
	font-size: 14px!important;
}

.pill-options{
	
	span{

		a{
			text-decoration: none;
			color: black;
			padding-left: 2px;

			i{
				color: $magenta;
			}
		}
	}
}

.pill-options-select{
	
	span{

		a{

			i{
				color: $magenta;
				padding-left: 3px;
			}
		}
	}
}

.after-footer{
	padding: 20px;

	.btn_later{


		i{
			color: white;
			font-size: 32px;
		}
	}

}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: .25rem;
    opacity: .5;
}

.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {
    right: 0;
    content: "";
    margin-top: 1px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
    opacity: .5;
}